.container {
  display: flex;
  margin-top: 5px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  }

  .image-wrapper {
    position: relative;
    width: 195px;
    height: 379px;
    margin-top: 5vh;
  }
  .point {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url('../public/placeholder.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translate(-50%, -100%);
  }
  
  
  .image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    width: 195x;
    height: 379px;
  }
  

.button1{
    display: inline-block;
    padding: 2vh;
    width: 30vw;
    border: none;
    border-radius: 5px;
    background-color: #596E79;
    color: white;
    font-size: 2vh;
    cursor: pointer;
    margin-top: 10px;
}

