body {
  background-color: #F0ECE2;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}
.container {
display: flex;
margin-top: 5px;
justify-content: flex-start;
align-items: center;
flex-direction: column;
text-align: center;
}
.child {
  position: relative;
  width: 90vw;
  height: 10vh;
  background-color: #596E79;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vh;
  padding-left: 3vw;
  font-size: 2.5vw;
  opacity: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rankfirst {
  position: absolute;
  top: 0;
  left: 3vw;
  background-image: url('../public/rankfirst.png');
  background-size: cover;
  background-position: center;
  width: 26.375px;
  height: 34.75px; 
  opacity: 0.85;
}
.ranksecond {
  position: absolute;
  top: 0;
  left: 3vw;
  background-image: url('../public/ranksecond.png');
  background-size: cover;
  background-position: center;
  width: 26.375px;
  height: 34.75px;
  opacity: 0.85; 
}
.rankthird {
  position: absolute;
  top: 0;
  left: 3vw;
  background-image: url('../public/rankthird.png');
  background-size: cover;
  background-position: center;
  width: 26.375px;
  height: 34.75px;
  opacity: 0.85;
}
.child h1 {
margin: 0;
font-size: 5vw;
font-weight: bold;
}
.child h2{
margin: 0;
font-size: 26px;
color: #ded9d9;
}
.child h2:last-child{
  margin-right: 10px;
  font-size: 30px;
  color: #ded9d9;
  }
.rankcontainer{
  display: flex;
  justify-content: space-between;
}
