.parentqrcode {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qrcode-container {
  border-radius: 20px;
  overflow: hidden;
  margin-top: 15vh;
}
