<!--离线命令词识别-->
<launch>
  <rosparam command="load" file="$(find xf_mic_asr_offline_circle)/config/appid_params.yaml" />
  <!--设置为功能包的路径-->
  <arg name="package_path" default = "$(find xf_mic_asr_offline_circle)" />

  <node pkg="xf_mic_asr_offline_circle" type="wheeltec_mic" name="wheeltec_mic" output="screen">
  	<param name="usart_port_name"  type="string" value="/dev/wheeltec_mic"/>
  </node>

  <node pkg="xf_mic_asr_offline_circle" type="voice_control" name="xf_asr_offline_node" output="screen">
    <param name="source_path" type="string" value="$(find xf_mic_asr_offline_circle)"/>
  </node>

</launch>
