html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url("../public/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}
h1{
  top: 5%;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  justify-items: center;
  height: 100vh;
}

input[type="email"] {
  width: 40vw;
  padding: 1.5vh;
  font-size: 2.5vh;
  border: none;
  border-radius: 5px;
  margin-bottom: 2vh;
}

.submit-button {
  padding: 2vh 4vw;
  font-size: 2.5vh;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.disabled {
  opacity: 0.2;
}

.enabled {
  background-color: #008CBA;
}