body {
    text-align: center;
    background-image: url("../public/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center center;*/
}
.button-container {
    display: flex;
    justify-content: center;
}
.button {
    flex: 1;
    max-width: 100%;
    padding: 10px;
    border: none;
    border-radius: 1vw;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
}
.button:last-child {
    margin-right: 0;
}