body {
  background-image: url("../public/background1.jpg");
  background-repeat: repeat;
  background-size: cover;
  /*background-position: center center;*/
}
.checkbox-list {
    display: flex;
    flex-direction: column;
  }
  
.checkbox-option {
    margin-bottom: 10px;
}
 .button1{
    margin-top: 4vh; /* 使用 vh 單位 */
    padding: 2vh 4vw; /* 使用 vw 和 vh 單位 */
    font-size: 2.5vh; /* 使用 vh 單位 */
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 } 
 .button1:disabled {
    opacity: 0.2;
  }

  .button1:hover:enabled {
    background-color: #008CBA;
  }
.button2 {
    position: absolute;
    top: 2vh;
    left: 2vw;
    display: inline-block;
    padding: 1vh;
    border: none;
    border-radius: 5px;
    background-color: #5406ef;
    color: white;
    font-size: 1.6vw;
    cursor: pointer;
    margin-right: 1vw;
  }