body {
    margin: 0;
    padding: 0;
  }
.parent {
display: flex;
margin-top: 5px;
justify-content: center;
align-items: center;
flex-direction: column;
height: 100vh;
background-image: url("../public/background1.jpg");
background-size: cover;
background-repeat: no-repeat;
}
.child {
width: 90%;
height: 10%;
max-height: 50px;
background-color: #00a303;
border-radius: 10px;
display: flex;
justify-content: flex-start;
align-items: center;
margin-top: 2vh;
padding-left: 3vw;
font-size: 2.5vw;
}
.child h1 {
margin: 0;
font-size: 5vw;
font-weight: bold;
}
.child h2{
margin: 0;
font-size: 5vw;
color: #ffffff;
}
.parent button {
position: absolute;
top: 2vh;
left: 2vw;
display: inline-block;
padding: 1vh;
border: none;
border-radius: 5px;
background-color: #5406ef;
color: white;
font-size: 1.6vw;
cursor: pointer;
margin-right: 1vw;
}