<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="django_test" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\user\AppData\Local\Programs\Python\Python39\python.exe|C:\Sunny\學業\台北工專\課外\MIT\django_2\Database\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
